<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Home-Page</title>
</head>
<body>
    <%- include("partials/header") -%>
    <div >
        <h1>About</h1>
        <p><%= aboutData %></p>
    </div>

    <%- include("partials/footer") -%>
</body>
</html>